/* Colors

#5E17EB - roxo

#F80068 - rosa shock

#00F5FF - azul ciano

#FA6101 - laranja

#22B9FF - azul escuro


*/

*{
    margin: 0px;
    padding: 0px;
}
.hide{
    display: none;
}

.container{
    display: flex;
}

footer{

    position: relative; 
    bottom: 10px;

}